#### Initial data clean-up and set up. Read csv files into pandas dataframe to get required content and pivot as needed to create SQLite DB.

In [1]:
import pandas as pd
import os

In [2]:
#Metadata csv. created new DF containing 5/23 fields needed
B_B_B_Metadata_df=pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
#B_B_B_Metadata_df.head()
new_BBB_metatdata_df = B_B_B_Metadata_df[['SAMPLEID','ETHNICITY','GENDER','AGE','WFREQ','BBTYPE']]
new_BBB_metatdata_df.head()

   SAMPLEID              ETHNICITY GENDER   AGE  WFREQ BBTYPE
0       940              Caucasian      F  24.0    2.0      I
1       941  Caucasian/Midleastern      F  34.0    1.0      I
2       943              Caucasian      F  49.0    1.0      I
3       944               European      M  44.0    1.0      I
4       945              Caucasian      F  48.0    1.0      I

In [3]:
#Otu_id csv to df. Included entire csv
B_B_B_otuid_df = pd.read_csv('Belly_Button_Biodiversity_otu_id.csv')
B_B_B_otuid_df.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [41]:
# samples csv containing otu_id presence by participant. Need number of samples by OTU-id 
B_B_B_samples_df = pd.read_csv('Belly_Button_Biodiversity_samples.csv')
#set index to first column to prevent id value in sum
sample_count = B_B_B_samples_df.set_index('otu_id')
sample_count.head()

,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
otu_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
#get list of otu_id index value to sue as id 
otu = sample_count.index.values.tolist() 
#otu

In [44]:
#create new df with otu_id and value count for each id. used array created from otu index.

new_BBB_samples_count = pd.DataFrame(columns = ["otu_id","sample_value"])  #Empty Dataframe
                                           
for row in otu:
    row_sum = sample_count.iloc[row - 1].sum()
    otu_id = row
                                               
    new_BBB_samples_count = new_BBB_samples_count.append({"otu_id":otu_id, "sample_value":row_sum}, ignore_index=True)
    
# OR another way to get same table    
    #test = sample_count.unstack().reset_index()
    #test.groupby('otu_id').sum().head()

In [39]:
new_BBB_samples_count.head()

   otu_id  sample_value
0     1.0           1.0
1     2.0           4.0
2     3.0           1.0
3     4.0          60.0
4     5.0           1.0

In [12]:
#DF of participant id. 

# get list of names (originally column headers)
new_names= pd.DataFrame(B_B_B_samples_df.columns.tolist())
new_names.columns = new_names.iloc[0] #change first row to header
new_names.drop(new_names.index[0], inplace=True) # remove otu_id from first row
new_names.head()

0  otu_id
1  BB_940
2  BB_941
3  BB_943
4  BB_944
5  BB_945

In [13]:
# metatdata columns csv convert to pandas df.
new_metadata_columns_df = pd.read_csv('metadata_columns.csv')
new_metadata_columns_df.head()

      COLUMN     TYPE           DESCRIPTION
0   SAMPLEID  INTEGER             sample_id
1      EVENT     TEXT     Collection event
2  ETHNICITY     TEXT             Ethnicity
3     GENDER     TEXT  Gender (male/female)
4        AGE  INTEGER        Age (in years)

In [14]:
# Dependencies to create SQLlite database
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [15]:
# Create an engine to a SQLite database 
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")

In [16]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [17]:
# model the demographics table as an ORM class

Base = declarative_base()

class Metadata(Base):
    __tablename__ = 'Belly_Button_Biodiversity_Metadata'

    id = Column(Integer, primary_key=True)
    AGE = Column(Integer)
    BBTYPE = Column(String)
    WFREQ = Column(Integer)
    ETHNICITY = Column(String)
    GENDER = Column(String)
    LOCATION = Column(String)
    SAMPLEID = Column(Integer)
    

class otu_id(Base):
    __tablename__ = 'Belly_Button_Biodiversity_otu_id'

    id = Column(Integer, primary_key=True)
    otu_id = Column(Integer)
    lowest_taxonomic_unit_found = Column(String)

class Samples(Base):
    __tablename__ = 'Belly_Button_Biodiversity_samples'

    id = Column(Integer, primary_key=True)
    otu_id = Column(Integer)
    sample_values = Column(String)

In [18]:
# create the customers table in the database
Base.metadata.create_all(engine)

In [19]:
# Load the cleaned csv file into a pandas dataframe
B_B_Metadata = pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
# Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata 
measurement_data = new_hawaii_measurements.to_dict(orient='records')
print(measurement_data[:5])

NameError: name 'new_hawaii_measurements' is not defined

In [ ]:
csv_station=pd.read_csv('Resources/hawaii_stations.csv')

station_data = csv_station.to_dict(orient='records')
print(station_data[:5])

In [ ]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [ ]:
measurements_table = sqlalchemy.Table('hawaii_measurement', metadata, autoload=True)
stations_table = sqlalchemy.Table('hawaii_station', metadata, autoload=True)

In [ ]:
#  `table.delete()` to remove any pre-existing data duirng development.
conn.execute(measurements_table.delete())
conn.execute(stations_table.delete())

In [ ]:
# `table.insert()` to insert the data into the table; The SQL table is populated during this step
conn.execute(measurements_table.insert(), measurement_data)
conn.execute(stations_table.insert(), station_data)