#### Initial data clean-up and set up. Read csv files into pandas dataframe to get required content and pivot as needed to create SQLite DB.

In [1]:
import pandas as pd
import os

In [2]:
B_B_B_Metadata_df=pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
#B_B_B_Metadata_df.head()
new_BBB_metatdata_df = B_B_B_Metadata_df[['SAMPLEID','ETHNICITY','GENDER','AGE','WFREQ','BBTYPE']]
new_BBB_metatdata_df.head()

   SAMPLEID              ETHNICITY GENDER   AGE  WFREQ BBTYPE
0       940              Caucasian      F  24.0    2.0      I
1       941  Caucasian/Midleastern      F  34.0    1.0      I
2       943              Caucasian      F  49.0    1.0      I
3       944               European      M  44.0    1.0      I
4       945              Caucasian      F  48.0    1.0      I

In [3]:
B_B_B_otuid_df = pd.read_csv('Belly_Button_Biodiversity_otu_id.csv')
B_B_B_otuid_df.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [8]:
B_B_B_samples_df = pd.read_csv('Belly_Button_Biodiversity_samples.csv')
B_B_B_samples_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#set index to first column to prevent id value in sum
sample_count = B_B_B_samples_df.set_index('otu_id')
sample_count.head()
#sample_count.iloc[0].sum()

,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
otu_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#get list of otu_id index value to sue as id 
new_BBB_samples_count = pd.DataFrame(columns = ["otu_id","sample_value"])  #Empty Dataframe
otu = sample_count.index.values.tolist() 

otu[0]

1

In [56]:
row_sum = sample_count.iloc[0].sum()
row_sum

1.0

In [40]:
sample_count.groupby([sample_count.iloc[0]]).sum()

Empty DataFrame
Columns: [BB_940, BB_941, BB_943, BB_944, BB_945, BB_946, BB_947, BB_948, BB_949, BB_950, BB_952, BB_953, BB_954, BB_955, BB_956, BB_958, BB_959, BB_960, BB_961, BB_962, BB_963, BB_964, BB_966, BB_967, BB_968, BB_969, BB_970, BB_971, BB_972, BB_973, BB_974, BB_975, BB_978, BB_1233, BB_1234, BB_1235, BB_1236, BB_1237, BB_1238, BB_1242, BB_1243, BB_1246, BB_1253, BB_1254, BB_1258, BB_1259, BB_1260, BB_1264, BB_1265, BB_1273, BB_1275, BB_1276, BB_1277, BB_1278, BB_1279, BB_1280, BB_1281, BB_1282, BB_1283, BB_1284, BB_1285, BB_1286, BB_1287, BB_1288, BB_1289, BB_1290, BB_1291, BB_1292, BB_1293, BB_1294, BB_1295, BB_1296, BB_1297, BB_1298, BB_1308, BB_1309, BB_1310, BB_1374, BB_1415, BB_1439, BB_1441, BB_1443, BB_1486, BB_1487, BB_1489, BB_1490, BB_1491, BB_1494, BB_1495, BB_1497, BB_1499, BB_1500, BB_1501, BB_1502, BB_1503, BB_1504, BB_1505, BB_1506, BB_1507, BB_1508, ...]
Index: []

[0 rows x 153 columns]

In [44]:
rob_test = sample_count.unstack().reset_index()
rob_test.groupby('otu_id').sum()

In [86]:
new_BBB_samples_count = pd.DataFrame(columns = ["otu_id","sample_value"])  #Empty Dataframe


count = 0
                                                
for row in sample_count:
    row_sum = sample_count.iloc[count].sum()
    otu_id = count
                                               
    new_BBB_samples_count = new_BBB_samples_count.append({"otu_id":otu_id, "sample_value":row_sum}, ignore_index=True)  
    
    count +=1

In [3]:
new_BBB_samples_count

NameError: name 'new_BBB_samples_count' is not defined

In [7]:


# get list of names (originally column headers)
new_names= pd.DataFrame(B_B_B_samples_df.columns.tolist())
new_names.columns = new_names.iloc[0] #change first row to header
new_names.drop(new_names.index[0], inplace=True) # remove otu_id from first row
new_names.head()

0  otu_id
1  BB_940
2  BB_941
3  BB_943
4  BB_944
5  BB_945

In [ ]:
#create new df with only otu_id column and sum of each row as sample_value

counter = 0
                                                
                                         
                                                

                                                
new_BBB_samples_count=new_BBB_samples_count.append({"otu_id":otu_id, "sample_value":row_sum}, ignore_index=True)              
           
   
    for x in range(5):
        response = api.user_timeline(target, page=x)
    
        for tweet in range(20):
       
        # Get all tweets from home feed
           # public_tweets = api.user_timeline(target, page=x)
            tweets =response[tweet]["text"]
            name = response[tweet]["user"]["name"]
            date=response[tweet]["created_at"]
            #print(f"Tweet{counter}: {tweets}")
        #print(json.dumps(public_tweets, sort_keys=True, indent=4))
            results = analyzer.polarity_scores(tweets)
            compound = results["compound"]
            pos = results["pos"]
            neu = results["neu"]
            neg = results["neg"]

            sentiments=sentiments.append({"Name":name, "Tweet":tweets, "Tweet Count": counter,
                                          "Compound Score": compound,"Positive":pos,
                                          "Negative":neg,"Neutral":neu,"Date":date}, ignore_index=True)              
           
            
            #print(f"tweet{counter}: {name}:{tweets} : {compound}")
            counter +=1
new_BBB_samples_count

In [ ]:
new_metadata_columns_df = pd.read_csv('metadata_columns.csv')
new_metadata_columns_df.head()

In [ ]:
# Dependencies to create SQLlite database
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [ ]:
# Create an engine to a SQLite database 
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")

In [ ]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [ ]:
# model the demographics table as an ORM class

Base = declarative_base()

class Metadata(Base):
    __tablename__ = 'Belly_Button_Biodiversity_Metadata'

    id = Column(Integer, primary_key=True)
    AGE = Column(Integer)
    BBTYPE = Column(String)
    WFREQ = Column(Integer)
    ETHNICITY = Column(String)
    GENDER = Column(String)
    LOCATION = Column(String)
    SAMPLEID = Column(Integer)
    

class otu_id(Base):
    __tablename__ = 'Belly_Button_Biodiversity_otu_id'

    id = Column(Integer, primary_key=True)
    otu_id = Column(Integer)
    lowest_taxonomic_unit_found = Column(String)

class Samples(Base):
    __tablename__ = 'Belly_Button_Biodiversity_samples'

    id = Column(Integer, primary_key=True)
    otu_id = Column(Integer)
    sample_values = Column(String)

In [ ]:
# create the customers table in the database
Base.metadata.create_all(engine)

In [ ]:
# Load the cleaned csv file into a pandas dataframe
B_B_Metadata = pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
# Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata 
measurement_data = new_hawaii_measurements.to_dict(orient='records')
print(measurement_data[:5])

In [ ]:
csv_station=pd.read_csv('Resources/hawaii_stations.csv')

station_data = csv_station.to_dict(orient='records')
print(station_data[:5])

In [ ]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [ ]:
measurements_table = sqlalchemy.Table('hawaii_measurement', metadata, autoload=True)
stations_table = sqlalchemy.Table('hawaii_station', metadata, autoload=True)

In [ ]:
#  `table.delete()` to remove any pre-existing data duirng development.
conn.execute(measurements_table.delete())
conn.execute(stations_table.delete())

In [ ]:
# `table.insert()` to insert the data into the table; The SQL table is populated during this step
conn.execute(measurements_table.insert(), measurement_data)
conn.execute(stations_table.insert(), station_data)