#### Initial data clean-up and set up. Read csv files into pandas dataframe to get required content and pivot as needed to create SQLite DB.

In [15]:
import pandas as pd
import os

In [16]:
#Metadata csv. created new DF containing 5/23 fields needed
B_B_B_Metadata_df=pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
#B_B_B_Metadata_df.head()
new_BBB_metatdata_df = B_B_B_Metadata_df[['SAMPLEID','ETHNICITY','GENDER','AGE','WFREQ','BBTYPE']]
new_BBB_metatdata_df.head()
new_BBB_metatdata_df.to_json('new_BBB_metadata.json')

In [17]:
#Otu_id csv to df. Included entire csv
B_B_B_otuid_df = pd.read_csv('Belly_Button_Biodiversity_otu_id.csv')
B_B_B_otuid_df.to_json('otu_id.json')

In [18]:
# samples csv containing otu_id count by participant. Need number of samples by OTU-id 
B_B_B_samples_df = pd.read_csv('Belly_Button_Biodiversity_samples.csv')
#set index to first column to prevent id value in sum
sample_count = B_B_B_samples_df.set_index('otu_id')

In [19]:
#get list of otu_id index value to use as id column for truncated df.
otu = sample_count.index.values.tolist() 
#otu

In [20]:
#create new df with otu_id and value count for each id. used array created from otu index.value count is sum of each row.

new_BBB_samples_count = pd.DataFrame(columns = ["otu_id","sample_value"])  #Empty Dataframe
                                           
for row in otu:
    row_sum = sample_count.iloc[row - 1].sum()
    otu_id = row
                                               
    new_BBB_samples_count = new_BBB_samples_count.append({"otu_id":otu_id, "sample_value":row_sum}, ignore_index=True)
    
# OR another way to get same table    
    #test = sample_count.unstack().reset_index()
    #test.groupby('otu_id').sum().head()

In [21]:
new_BBB_samples_count.head()

   otu_id  sample_value
0     1.0           1.0
1     2.0           4.0
2     3.0           1.0
3     4.0          60.0
4     5.0           1.0

In [22]:
new_BBB_samples_count.to_json('new_BBB_samples_count.json')

In [23]:
#DF of participant id. 

# get list of names (originally column headers)
new_names= pd.DataFrame(B_B_B_samples_df.columns.tolist())
new_names.columns = new_names.iloc[0] #change first row to header
new_names.drop(new_names.index[0], inplace=True) # remove otu_id from first row
new_names.head()

0  otu_id
1  BB_940
2  BB_941
3  BB_943
4  BB_944
5  BB_945

In [24]:
new_names.to_json('new_names.json')

In [25]:
# metatdata columns csv convert to pandas df.
new_metadata_columns_df = pd.read_csv('metadata_columns.csv')
new_metadata_columns_df.head()

      COLUMN     TYPE           DESCRIPTION
0   SAMPLEID  INTEGER             sample_id
1      EVENT     TEXT     Collection event
2  ETHNICITY     TEXT             Ethnicity
3     GENDER     TEXT  Gender (male/female)
4        AGE  INTEGER        Age (in years)

In [19]:
# Dependencies to create SQLlite database
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float, Text, ForeignKey

In [20]:
# Create an engine to a SQLite database 
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")

In [21]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [22]:
Base = automap_base()

In [23]:
Base.prepare(engine, reflect=True)

In [24]:
# Print all of the classes mapped to the Base

Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [18]:

# Assign the class to a variable 

Measurements = Base.classes.hawaii_measurement
Stations = Base.classes.hawaii_station

AttributeError: hawaii_measurement

In [ ]:
# Create a session

session = Session(engine)

In [ ]:
for row in session.query(Measurements).limit(5).all():
    print(row)

In [ ]:
# create the customers table in the database
Base.metadata.create_all(engine)

In [ ]:
# model the demographics table as an ORM class

Base = declarative_base()

class Metadata(Base):
    __tablename__ = 'new_BBB_metadata'
    id = Column(Integer, primary_key=True)
    AGE = Column(Integer)
    BBTYPE = Column(String)
    WFREQ = Column(Integer)
    ETHNICITY = Column(String)
    GENDER = Column(String)
    LOCATION = Column(String)
    SAMPLEID = Column(Integer)
    

class otu_id(Base):
    __tablename__ = 'Belly_Button_Biodiversity_otu_id'

    id = Column(Integer, primary_key=True)
    otu_id = Column(Integer)
    lowest_taxonomic_unit_found = Column(String)

class Samples(Base):
    __tablename__ = 'Belly_Button_Biodiversity_samples'

    id = Column(Integer, primary_key=True)
    otu_id = Column(Integer)
    sample_values = Column(String)
    
class names(Base):
    __tablename__ = 'new_names'
    
    id = Column(Integer, primary_key = True)
    otu_id = Column(String)

In [ ]:
# create the customers table in the database
Base.metadata.create_all(engine)

In [ ]:
# Load the cleaned csv file into a pandas dataframe
B_B_Metadata = pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
# Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata 
measurement_data = new_hawaii_measurements.to_dict(orient='records')
print(measurement_data[:5])

In [ ]:
csv_station=pd.read_csv('Resources/hawaii_stations.csv')

station_data = csv_station.to_dict(orient='records')
print(station_data[:5])

In [ ]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [ ]:
measurements_table = sqlalchemy.Table('hawaii_measurement', metadata, autoload=True)
stations_table = sqlalchemy.Table('hawaii_station', metadata, autoload=True)

In [ ]:
#  `table.delete()` to remove any pre-existing data duirng development.
conn.execute(measurements_table.delete())
conn.execute(stations_table.delete())

In [ ]:
# `table.insert()` to insert the data into the table; The SQL table is populated during this step
conn.execute(measurements_table.insert(), measurement_data)
conn.execute(stations_table.insert(), station_data)